# Django
*.sqlite3
media/
static/

# Python
*.pyc
**/__pycache__* 
# ^ ignores __pycache__ in ANY directory

# Mac garbage
**/.DS_Store
# ^ ignores DS store in ANY directory rather than just base

# Environments 
.env
.venv

# Visual Studio Code files
.vscode/
*.code-workspace

# future secret files 
*.yaml
*.yml