# Django
*.sqlite3
media/
static/

# Python
*.pyc
**/__pycache__* 

# Mac garbage
**/.DS_Store

# Environments 
.env
.venv

# Visual Studio Code files
.vscode/
*.code-workspace

# future secret files 
*.yaml
*.yml
competitions/z_models.py
