# Django
*.sqlite3
media/
#static/
# ^ the style.css and others should be checked in to avoid merge conflicts

# Python
*.pyc
**/__pycache__* 

# Mac garbage
**/.DS_Store

# Environments 
.env
.venv

# Visual Studio Code files
#.vscode/ #  uncommented so we can share a launch.json file
*.code-workspace

# future secret files 
*.yaml
*.yml
