crispy-bootstrap5
django-crispy-forms
django-debug-toolbar
django-environ
django-hijack
django-mathfilters
django-simple-history
Django==4.2.7
pillow
psycopg2-binary==2.9.9
PyYAML
social-auth-app-django
typing_extensions
whitenoise