crispy-bootstrap5
django-compressor
django-crispy-forms
django-debug-toolbar
django-environ
django-hijack
django-mathfilters
django-sass-processor
Django==4.2.7
pillow
PyYAML
typing_extensions
whitenoise