{% extends "skeleton.html" %}

{% block content %}
<!-- 
    There are no errors here, your IDE is lying 
    - Matt 
-->

<div class="bracket" style="height: {{ bracket_dict.bracketHeight }}px; width: {{ bracket_dict.bracketWidth }}px;">
    {% for round_data in bracket_dict.round_data %}
    <div class="round" style="height: {{ bracket_dict.roundHeight }}px; width: {{ bracket_dict.roundWidth }}px;">
        {% for match_data in round_data.match_data %}
        <div class="match" style="height: {{ match_data.match_height }}px; width: {{ match_data.match_width }}px;">
            <div class="center"
                style="height: {{ match_data.center_height }}px; padding-top: {{ match_data.top_padding }}px">
                {% for team_data in match_data.team_data %}
                <div class="team" style="width: {{ match_data.match_width }}px;">
                    {{ team_data.team_name }}
                    <div>
                        Score
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}