{% extends "skeleton.html" %}

{% block content %}

<div class="bracket" style="height: {bracketHeight}px; width: {bracketWidth}px;">'

    for i in range(0,numRounds):
    t += f'<div class="round" style="height: {roundHeight}px; width: {roundWidth}px;">'

        numMatches = 2**(numRounds-i-1)
        matchHeight = roundHeight/numMatches
        matchWidth = roundWidth

        for j in range(0, numMatches):

        numTeams = 2
        teamHeight = 25
        centerHeight = teamHeight*numTeams
        topPadding = (matchHeight-centerHeight)/2

        t += f'<div class="match" style="height: {matchHeight}px; width: {matchWidth}px;">'
            t += f'<div class="center" style="height: {centerHeight}px; padding-top: {topPadding}px">'

                for k in range(0,numTeams):
                t += f'<div class="team" style="width: {matchWidth}px"></div>

            </div>
        </div>
    </div>
</div>


{{ content|safe }}

{% endblock %}