{% extends "skeleton.html" %}
{% load i18n %}

{% block content %}
<h1>
    {% if tournament.is_judgable %}
    <i class="bi-activity"></i>
    {% elif tournament.is_complete %}
    <i class="bi-check2-circle"></i>
    {% elif tournament.is_closed %}
    <i class="bi-x-circle"></i>
    {% elif tournament.is_in_setup %}
    <i class="bi-gear"></i>
    {% endif %}
    {{ tournament.competition.name }} {{ tournament.event.name }} {% trans "Tournament" %}
    ({{ tournament.points|floatformat:"0" }} {% trans "points" %})
</h1>

<!-- 
    There are no errors here, your IDE is lying 
    - Matt 
-->
<div class="bracket" style="height: {{ bracket_dict.bracketHeight }}px; width: {{ bracket_dict.bracketWidth }}px;">

    {% for round_data in bracket_dict.round_data %}
    <div class="round" style="height: {{ bracket_dict.roundHeight }}px; width: {{ bracket_dict.roundWidth }}px;">
        {% for match_data in round_data.match_data %}
        <div class="match" style="height: {{ match_data.match_height }}px; width: {{ match_data.match_width }}px;">
            <div class="center"
                style="height: {{ match_data.center_height }}px; padding-top: {{ match_data.top_padding }}px">
                {% for team_data in match_data.team_data %}
                {%if team_data.prev %}
                <div class="connector-left" style="height: 12.5px; width: 24px;"></div>
                {%endif%}
                {%if team_data.won %}
                <div class="connector-right" style="height: 12.5px; width: 24px;"></div>
                {%endif%}
                <div class="team"
                    style="width: {{ match_data.match_width }}px; {%if team_data.won %}background-color: #fff5a8;{%endif%}">
                    {{ team_data.name }}
                </div>

                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="connector" style="padding-top: {{ match_data.top_padding }}px"></div>

{% endblock %}