<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>comps</title>
</head>
<body>
    <h1>Competetions</h1>

    <br>
    <br>
    <h2>Tournaments</h2>

    <br>
    <br>
    <br>

   <ol>
    <li><h4>Sumo bots</h4></li>
    <br>
    <br>
    <li><h3>Line follow</h4></li>
    <br>
    <br>
    <li><h3>Obstacle course</h4></li>
    <br>
    <br>
    <li><h4>Tug of war</h4></li>
    <br>
    <br>
   <li><h4>Speed race</h4></li> 
   </ol> 

   <br>
   <br>

   <h2>Results</h2>
    
</body>
</html>


<!-- make all of the items n the list clickable -->