{% extends 'skeleton.html' %}
{% load i18n %}
{% block content %}
    <header>
        <h1>{{competition}}</h1>
    </header>
    <h3>Competing Teams</h3>
    {% for team in competition.teams.all %}
        <div class="row d-flex">
            <div class = "col-12">
                <a href="{% url 'competitions:team' team.id %}">{{ team }}</a>
            </div>
        </div>
    {% empty %}
        <div class="row d-flex">
            <div class = "col-12">
                <p>{% trans "There are no Competing Teams." %}</p>
            </div>
        </div>
    {% endfor %}
    <h3>Tournaments</h3>
    {% for tournament in competition.tournament_set.all %}
        {% if tournament.status == Status.ARCHIVED %}
        {% elif tournament.status == Status.SETUP %}
            <div class="row d-flex">
                <div class = "col-12">
                    <p>{{ tournament }} ({% trans "SETUP" %})</p>
                </div>
            </div>
        {% else %}
            <div class="row d-flex">
                <div class = "col-12">
                    <p><a href="{% url 'competitions:tournament' tournament.id %}">{{ tournament }}</a>({{ tournament.status }})</p>
                </div>
            </div>
        {% endif %}          
    {% empty %}
        <div class="row d-flex">
            <div class = "col-12">
                <p>No Tournaments Yet</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
