{% extends 'skeleton.html' %}
{% load i18n %}
{% block title %}{% trans "Competition:" %} {{ competition.name }}{% endblock %} 
{% block content %}
    <header>
        <h1>{% trans "Scores For " %} {{ competition.name }} {{ competition.start_date }} - {{competition.end_date }}</h1>
        <h2>{% trans "Judged by " %}</h2>
        <ul>
            {% for judge in competition.planeary_judges.all %}
                <li> {{ judge.first_name }} {{ judge.last_name }}</li>
            {% endfor %}
        </ul>
    </header>
    {% if competition.is_scorable %}
        <div section="body">
            <div class="row">
                <div class="column">
                    <p></p>
                </div>
                {% for tournament in competition.tournaments.all %}
                    <div class="column">
                        <a href="{% url 'competitions:single_elimination_tournament' tournament.id %}">{{ tournament.event.name }}</s>
                    </div>
                {% endfor %}
                <div class="column">
                    <p>Total Score</p>
                </div>
            </div>
            {% for team in ranked_teams %}
                <div class="row">
                    <div class="column">
                        {{ team.name }}
                    </div>
                    {% for tournament in selected_competition.tournaments.all %}
                        {% if tournament.is_complete %}
                            <div class="column">
                                {{ Ranking.objects.filter(tournament__id = tournament.id, team__id = team.id).rank.get_points }}
                            </div>
                            how do you get points based on rank?
                        {% elif %}
                            <div class="column">
                                <p>Unavailable</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for tournament in scorable_tournaments %}
                        {% for tourney_team in tournament.teams.all %}
                            {% if tourney_team == Team.objects.get(id = team.id) %}
                                add the points to the totla points for this Team
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                colorcode team rankings
                rank tournaments by most available points
            {% endfor %}
        </div>
    {% elif %}
        <p>All of the tournaments are currently ongoing and haven't finished yet.</p>
    {% endif %} 
{% endblock %}