<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comps</title>
</head>
<body>
    <h1>Competetions</h1>

    <br>
    <br>
    <h2>Tournaments</h2>

    <br>
    <br>
    <br>

   <ol>
    <li><h3>Sumo bots</h3></li>
    <br>
    <br>
    <li><h3>Line follow</h3></li>
    <br>
    <br>
    <li><h3>Obstacle course</h3></li>
    <br>
    <br>
    <li><h3>Tug of war</h3></li>
    <br>
    <br>
   <li><h3>Speed race</h3></li> 
   </ol> 

   <br>
   <br>

   <h2>Results</h2>
    
</body>
</html>


<!-- make all of the items n the list clickable -->