{% extends "skeleton.html" %}

{% block title %}comps{% block title %}

{% block content %}
    <h1>Competetions</h1>

    <br>
    <br>
    <h2>Tournaments</h2>

    <br>
    <br>
    <br>

   <ol>
    <li><h3>Sumo bots</h3></li>
    <br>
    <br>
    <li><h3>Line follow</h3></li>
    <br>
    <br>
    <li><h3>Obstacle course</h3></li>
    <br>
    <br>
    <li><h3>Tug of war</h3></li>
    <br>
    <br>
   <li><h3>Speed race</h3></li> 
   </ol> 

   <br>
   <br>

   <h2>Results</h2>
{% endblock%}

<!-- make all of the items n the list clickable -->