{% extends 'skeleton.html' %}
{% load i18n %}
{% block title %}{% trans "Competition:" %} {{ competition.name }}{% endblock %} 
{% block content %}
    <header>
        <h1>{% trans "Results For " %} {{ competition.name }} {{ competition.start_date }} - {{competition.end_date }}</h1>
        <h2>{% trans "Judged by " %}</h2>
        <ul>
            {% for judge in competition.planeary_judges.all %}
                <li> {{ judge.first_name }} {{ judge.last_name }}</li>
            {% endfor %}
        </ul>
    </header>
    {% if completed_tournaments.exists %}
        <div section="body">
            <div class="row">
                <div class="column">
                    <p></p>
                </div>
                {% for tournament in completed_tournaments %}
                    <div class="column">
                        <a href="{% url 'competitions:single_elimination_tournament' tournament.id %}">{{ tournament.event.name }}</s>
                    </div>
                {% endfor %}
                <div class="column">
                    <p>Total Score</p>
                </div>
            </div>
            {% for item in sorted_total_scores_dictionary %}
                <div class="row">
                    <div class="column">
                        {{ item[0] }}
                    </div>
                    {% for tournament in competition.tournaments.all %}
                        {% if Team.objects.get(name = item.key()) in tournament.advancers %}
                            <div class="column">
                                <p>{{ tournament.points }}</p>
                            </div>
                        {% elif %}
                            <div class="column">
                                <p>0</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="column">
                        {{ item[1] }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elif %}
        <p>All of the tournaments are currently ongoing and haven't finished yet.</p>
    {% endif %} 
{% endblock %}