{% extends "skeleton.html" %}
{% load i18n %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
    <h1>{% trans "Competitions" %}</h1>
    <hr>
    {% if competition_list %}
        {% for competition in competition_list %}
            <div class="row d-flex">
                <div class = "col-12">
                    {% if competition.is_judgable %}
                        <p><a href="{% url 'competitions:competition' competition.id %}">{{ competition }}</a> ({% trans "OPEN" %})</p>
                    {% elif competition.is_complete %}
                        <p><a href="{% url 'competitions:competition' competition.id %}">{{ competition }}</a> ({% trans "COMPLETE" %})</p>
                    {% elif competition.is_closed %}
                        <p><a href="{% url 'competitions:competition' competition.id %}">{{ competition }}</a> ({% trans "CLOSED" %})</p>
                    {% elif competition.is_in_setup %}
                        <p>{{ competition }} ({% trans "SETUP" %})</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}