{% extends "skeleton.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
    {% if competition_list %}
        {% for competition in competition_list %}
            <div class="row d-flex">
                <div class = "col-9">
                    <a href="{% url 'competitions:competition' competition.id %}">{{ competition }}</a>
                </div>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <div class = "col-md-12 d-flex justify-content-center">
            <p>No competitions Yet</p>
        </div>
    {% endif %}
{% endblock %}