<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competition Page</title>
</head>
<body>
    <header>
        <h1>{{competition}}</h1>
        <p>blah blah</p>
    </header>
    <div class="row">
        <h3>Competing Teams</h3>
        <ul>
            {% for team in competition.teams.all %}
            <li>
                {{team}}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>