{% extends "skeleton.html" %}
{% load i18n %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block content %}
    <h1>{% trans "Competitions" %}</h1>
    <hr>
    {% if competition_list %}
        {% for competition in competition_list %}
            <div class="row d-flex">
                <div class = "col-12">
                    {% if competition.is_judgable %}
                        <p><i class="bi-activity"></i> <a href="{% url 'competitions:competition' competition.id %}">{{ competition }}</a></p>
                    {% elif competition.is_complete %}
                        <p><i class="bi-check2-circle"></i> <a href="{% url 'competitions:competition' competition.id %}">{{ competition }}</a></p>
                    {% elif competition.is_closed %}
                        <p><i class="bi-x-circle"></i> <a href="{% url 'competitions:competition' competition.id %}">{{ competition }}</a></p>
                    {% elif competition.is_in_setup %}
                        <p><i class="bi-gear"></i> {{ competition }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}