{% extends 'skeleton.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Credits" %}</h1>
    <hr>
    <p>{% trans "CompServer was developed as a final project in the Web Application Frameworks (2024) class at the" %} <a href="https://www.ucls.uchicago.edu/">{% trans "University of Chicago Laboratory Schools" %}</a> {% trans "taught by" %} <a href="https://linkedin.com/in/dan-wheadon-30b8684">Dan Wheadon.</a> {% trans "The following students contributed to the project." %}</p>
    <h3>{% trans "Student Contributors" %}</h3>
    <li>Harry Feng</li>
    <li>Nana Gyang-Akoto</li>
    <li>John Mulligan</li>
    <li>Matthew Riggle</li>
    <li>Olivia Adams</li>
{% endblock %}