{% extends 'skeleton.html' %}
{% load static %}
{% load i18n %}
{% load tz %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Match: {{ match }}</h1>

                {% if match.advancers.exists %}
                    <h2>Advancing teams: </h2>
                    <ul>
                        {% for team in match.advancers.all %}
                            <li>{{ team }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <h2>Participating teams: </h2>
                <ul>
                    {% if match.starting_teams.all %}
                            {% for team in match.starting_teams.all %}
                                <li>{{ team }}</li>
                            {% endfor %}
                    {% elif match.prev_matches.all %}
                            {% for prev_match in match.prev_matches.all %}
                                {% for advancers in prev_match.advancers.all %}
                                    <li>{{ advancers }}</li>
                                {% endfor %}
                            {% endfor %}
                    {% endif %}
                </ul>
                 
                <h2>Match Date/Time</h2>
                {% localtime on %}
                <date>{{ match.time|localtime }}</date>
                {% endlocaltime %}
            </div>
        </div>
    </div>
{% endblock %}
