{% extends 'skeleton.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Title{% endblock%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-md-4">
                <h1 class="text-center">{{ form_title }}</h1>
                <form method="POST" enctype="multipart/form-data" action={{ action }}>
                    {% csrf_token %}
                    {% comment %} {{ form|crispy }} {% endcomment %}
                    {{ form_html }}
                    <div id='secondary-form' hx-swap-oob="true"></div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}
