{% extends 'skeleton.html' %}
{% load i18n %}
{% block title %}{% translate "Organization:" %} {{ organization.name }}{% endblock %} 
{% block content %}
    <header>
        <h1>{% translate 'Organization - '%} {{ organization.name }}</h1>
    </header>
    <body>
        <h2>{% translate 'Associated Teams' %}</h2>
        <ul>
            {% for team in associated_teams %}
                <li><a href="{% url 'competitions:team' team.id %}">{{ team }}</a> 
                {% if team.sport.name %}
                    {% translate 'in the sport of' %} {{ team.sport.name }} 
                {% endif %}
                {% if team.coach.name %}
                    {% translate 'coached by' %} {{ team.coach.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <!-- {% if results %}
            <div class="container">
                <h2>{% translate 'Overall Team Results' %}</h2>
                {% for result in results %}
                {% endfor %}
            </div>
        {% endif %} -->
    </body>
{% endblock %}