{% extends 'skeleton.html' %}
{% load i18n %}
{% block title %}{% translate "Profile" %}{% endblock %} 
{% block content %}
    <body>
        <h1>{% transalte "Your Profile" %}</h1>
        <h2>{% translate "Status: " %}</h2>
        <ul>
            {% if user.is_admin %}
                <li>{% trans "Admin"}</li>
            {% if user.is_coach %}
                <li>{% trans "Coach" %}</li>
            {% if user.is_judge %}
                <li>{% trans "Judge" %}</li>
            {% if user.is_competitor %}
                <li>{% trans "Competitor" %}</li>
            {% if user.is_spectator %}
                <li>{% trans "Spectator" %}</li>
            <!-- could simplify with a function for user model -->
        </ul>
        <a href="#">
            <button>{% trans "Edit Status" %}</button>
        </a>
        <div class="user-info-section">
            {% if user.profile.profile_pic.exists %}
                <img src="{{ user.profile.profile_pic }}">
            {% else %}
                <a href="#">
                    <button>Add Picture</button>
                </a>
            {% endif %}
            {% if user.first_name.exists %}
                {% if user.last_name.exists %}
                    <p>{% trans "Name: " %}{{ first_name }}{{ last_name }}</p>
            <p>{% trans "Username: @"}{% user.username %}</p>
            {% if user.profile.bio.exists %}
                <h2>{% trans "Biography" %}</h2>
                <p>{{ user.profile.bio }}</p>
            {% endif %}
            <a href="#">
                <button>{% trans "Edit Info" %}</button>
            </a>
        </div>
        account activity
        {% if user.is_admin %}
            <h2>{% translate "Admin "%}</h2>
            <h2>{% translate "Your Activity" %}</h2>
            <h2>{% translate "Forms For You" %}</h2>
            <h2>{% translate "Manage Other Activities" %}</h2>
            <h3>{% translate "Send Forms" %}</h3>
            <h3>{% translate "Manage Compeititons and Tournaments" %}</h3>
        {% endif%}
        {% if user.is_coach %}
            <div section="coach-information">
                <h2>{% trans "Teams Coached By You %}</h2>
                <h3></h3>
                <h3></h3>
            </div>
            <div section="current-competitions">
                <h2>{% trans "Team Records" %]</h2>
            </div>
            <div section="upcoming-competitions">
                <h2>{% trans "Team Rankings" %}</h2>
            </div>
            <div section="coach-to-do-forms">
                <h2>{% trans "Forms" %}</h2>
                <h3>{% "Sign Up For Competitions" %}</h3>
                <h3>{% "Sign Up For Tournaments" %}</h3>
                <h3>{% "Sign Up To Judge" %}</h3>
            </div>
            <h2>{% translate "Coach " %}</h2>
        {% endif%}
        {% if user.is_judge%}
            <h2>{% translate "Tournaments That You've Judged" %}</h2>
            <h2>{% translate "Upcoming Judging" %}</h2>
            {% if upcoming_gigs.exists %}
                {% if user.first_name %}
                <h2>{% trans "What " %}{{ user.first_name }}{% trans "Will Be Judging" %}</h2>
                <ul>
                        {% for gig in upcoming_gigs %}
                            <li>{{ gig }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h2>{% translate "What @" %}{{ user.username }}{% trans "Will Be Judging" %}</h2>
                        {% for gig in upcoming_gigs %}
                            <li>{{ gig }}</li>
                        {% endfor %}
                {% endif %}
            {% endif %}
            {% if current_gigs.exists %}
                <h2>{% trans "Currently Judging" %}</h2>
                <ul>
                    {% for gig in current_gigs %}
                        <li>
                            <p>{{ gig }}</p>
                            <a href="#">
                                <button>Submit Scores</button>
                            </a>
                            <a href="#">
                                <button>Make A Report</button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
        {% endif%}
        {% if user.is_player %}
            <h2>{% translate "Player " %}</h2>
            <h2>{% trans "Your Team: "%}</h2>
            <h2>{% trans "Your Organization: " %}</h2>
            <h2>{% trans "Your Track Record of Wins, Losses, and Draws" %}</h2>
            <h2>{% Translate "Fill Out Feedback Forms "%}</h2>
        {% endif%}
    </body>
{% endblock %}