{% extends 'skeleton.html' %}
{% load i18n %}
{% block title %}{% translate "Profile" %}{% endblock %} 
{% block content %}
    <body>
        <h1>{% transalte "Your Profile" %}</h1>
        <button><a href="#">{% trans "Edit Status" %}</a></button>
        <div class="user-info-section">
            {% if user.profile.profile_pic.exists %}
                <img src="{{ user.profile.profile_pic }}">
            {% else %}
                <a href="#">
                    <button>Add Picture</button>
                </a>
            {% endif %}
            {% if user.first_name.exists %}
                {% if user.last_name.exists %}
                    <p>{% trans "Name: " %}{{ first_name }}{{ last_name }}</p>
            <p>{% trans "Username: @"}{% user.username %}</p>
            {% if user.profile.bio.exists %}
                <h2>{% trans "Biography" %}</h2>
                <p>{{ user.profile.bio }}</p>
            {% endif %}
            <button><a href="#">{% trans "Edit Info" %}</a></button>
        </div>
        {% if user.is_coach %}
            <div section="coach-information">
                <h2>{% trans "Teams Coached By You %}</h2>
                <li>
                    {% for team in coached_teams %}
                        <li></li>
                    {% endfor %}
                </li>
            </div>
            <div section="current-competitions">
                <h2>{% trans "Team Records" %]</h2>
            </div>
            <div section="upcoming-competitions">
                <h2>{% trans "Team Rankings" %}</h2>
            </div>
            <div section="coach-to-do-forms">
                <h2>{% trans "Forms" %}</h2>
                <h3>{% "Sign Up For Competitions" %}</h3>
                <h3>{% "Sign Up For Tournaments" %}</h3>
                <h3>{% "Sign Up To Judge" %}</h3>
            </div>
            <h2>{% translate "Coach " %}</h2>
        {% endif%}
        {% if user.is_judge%}
            <h2>{% translate "Status: Judge" %}</h2>
            <h3>{% translate "Tournaments That You've Judged" %}</h3>
            <ul>
                {% for tournament in judged_tournaments %}
                    <li>
                        <p><a href="{{ 'urls:tournament' tournament.id }}">Go</a> To {{ tournament.event.name }}</p>
                    </li>
                {% endfor %}
            </ul>
            <h3>{% translate "Upcoming Judging Gigs" %}</h3>
            {% if upcoming_gigs.exists %}
                go to form to determine matches
                {% for gig in upcoming_gigs %}
                    upcoming gigs shold be events with tournament and if it is being setup and all that
                        {% endfor %}
                {% endfor %}
            {% endif %}
            {% if current_gigs.exists %}
                <h3>{% trans "Current Judging Gigs" %}</h3>
                <ul>
                    {% for gig in current_gigs %}
                        <li>
                            <p>{{ gig }}</p>
                            <a href="#">
                                <button>Submit Scores</button>
                            </a>
                            <a href="#">
                                <button>Make A Report</button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
        {% endif%}
        {% if user.is_player %}
            <h2>{% translate "Status: Player" %}</h2>
            <h2>{% trans "Your Team: "%}</h2>
            <h2>{% trans "Your Organization: " %}</h2>
            <h2>{% trans "Your Track Record of Wins, Losses, and Draws" %}</h2>
            <h2>{% Translate "Fill Out Feedback Forms "%}</h2>
        {% endif%}
    </body>
{% endblock %}