{% extends 'skeleton.html' %}
{% load i18n %}
{% block title %}{% translate "Profile" %}{% endblock %} 
{% block content %}
    <body>
        <h1>{% transalte "Your Profile" %}</h1>
        <h2>{% translate "Status: " %}</h2>
        <ul>
            {% if user.is_admin %}
                <li>{% translate "Admin" %}</li>
            {% if user.is_coach %}
                <li>{% translate "Coach" %}</li>
            {% if user.is_judge %}
                <li>{% translate "Judge" %}</li>
            {% if user.is_competitor %}
                <li>{% translate "Competitor" %}</li>
            {% if user.is_spectator %}
                <li>{% translate "Spectator" %}</li>
            <!-- could simplify with a function for user model -->
        </ul>
        <a href="#">
            <button>{% translate "Edit Status" %}</button>
        </a>
        <div class="user-info-section">
            {% if user.profile.profile_pic.exists %}
                <img src="{{ user.profile.profile_pic }}">
            {% else %}
                <a href="#">
                    <button>{% translate "Add Picture" %}</button>
                </a>
            {% endif %}
            {% if user.first_name.exists %}
                {% if user.last_name.exists %}
                    <p>{% translate "Name: " %}{{ first_name }}{{ last_name }}</p>
            <p>{% translate "Username: @"}{% user.username %}</p>
            {% if user.profile.bio.exists %}
                <h2>{% translate "Biography" %}</h2>
                <p>{{ user.profile.bio }}</p>
            {% endif %}
            <a href="#">
                <button>{% translate "Edit Info" %}</button>
            </a>
        </div>
        {% comment %} account activity {% endcomment %}
        {% if user.is_admin %}
            <h2>{% translate "Admin "%}</h2>
            {% comment %} 
            changes they have made or mark their activity
            collection of forms
            manage live activities 
            {% endcomment %}
        {% endif%}
        {% if user.is_coach %}
            <div section="coach-information">
                <h2>{% translate "Teams Coached By You" %}</h2>
                <h3></h3>
                <h3></h3>
            </div>
            <h2>{% translate "Coach " %}</h2>
            {% comment %} 
            teams that you Coach
            team records and history
            collection of forms (attending competitions and such)
            see current compeittions 
            {% endcomment %}
        {% endif %}
        {% if user.is_judge %}
            <h2>{% translate "Competitions That You've Judged" %}</h2>
            <h2>{% translate "Tournaments That You've Judged" %}</h2>
            <h2>{% translate "Upcoming Judging" %}</h2>
            {% if upcoming_gigs.exists %}
                {% if user.first_name %}
                <h2>{% translate "What " %}{{ user.first_name }}{% translate "Will Be Judging" %}</h2>
                <ul>
                        {% for gig in upcoming_gigs %}
                            <li>{{ gig }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h2>{% translate "What @" %}{{ user.username }}{% translate "Will Be Judging" %}</h2>
                        {% for gig in upcoming_gigs %}
                            <li>{{ gig }}</li>
                        {% endfor %}
                {% endif %}
            {% endif %}
            {% if current_gigs.exists %}
                <h2>{% translate "Currently Judging" %}</h2>
                <ul>
                    {% for gig in current_gigs %}
                        <li>
                            <p>{{ gig }}</p>
                            <a href="#">
                                <button>{% translate "Submit Scores" %}</button>
                            </a>
                            <a href="#">
                                <button>{% translate "Make A Report" %}</button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
        {% endif%}
        {% if user.is_player %}
            <h2>{% translate "Your Team: "%}</h2>
            <p></p>
        {% comment %} team
        organization
        played tournaments, competitions
        wins and lossses and draws you were apart of {% endcomment %}
            <h2>{% translate "Player " %}</h2>
            {% comment %} similar to team page 
            colletion of forms {% endcomment %}
        {% endif%}
    </body>
{% endblock %}