{% extends 'skeleton.html' %}
{% load i18n %}
<style>
    .team {
        margin: 0px {{bracket_dict.connectorWidth}}px 0px {{bracket_dict.connectorWidth}}px;
      }
    
    .connector-back {
        width: {{bracket_dict.connectorWidth}}px;
        left: -{{bracket_dict.connectorWidth}}px;
        top: {% widthratio bracket_dict.teamHeight 2 1%}px
    }
    
    .connector-front {
        width: {{bracket_dict.connectorWidth|add:3}}px;
        right: -{{bracket_dict.connectorWidth|add:3}}px;
    }
    
    .connector-up {
        bottom: {% widthratio bracket_dict.teamHeight 2 1%}px;
    }
    
    .connector-down {
        top: {% widthratio bracket_dict.teamHeight 2 1%}px;
    }
    
    .bracket {
        height:{{bracket_dict.bracketHeight}}px; 
        width:{{bracket_dict.bracketWidth}}px;
    }
    
    .round {
        height: {{ bracket_dict.roundHeight }}px; 
        width: {{ bracket_dict.roundWidth }}px;
    }
</style>
{% block content %}
    <h1>{% if tournament.is_judgable %} 
            <i class="bi-activity" title="{{ competition.status }}"></i> {{ tournament.event.name }}
        {% elif tournament.is_complete %} 
            <i class="bi-check2-circle" title="{{ competition.status }}"></i> {{ tournament.event.name }}
        {% elif tournament.is_closed %} 
            <i class="bi-x-circle" title="{{ competition.status }}"></i> {{ tournament.event.name }}
        {% elif tournament.is_in_setup %}
            <i class="bi-gear" title="{{ competition.status }}"></i> {{ tournament.event.name }}
        {% elif competition.is_archived %}
            <i class="bi-archive" title="{{ competition.status }}"></i> {{ tournament }} <small>You can see this archived item because you are signed in as a superuser.</small>
        {% endif %}
    </h1>
    <hr>
    {% if tournament.match_set.all %}
    <div class="bracket">
        {% for round_data in bracket_dict.round_data %}
        <div class="round">
            {% translate "Round" %} {{ forloop.counter }}
            {% for match_data in round_data.match_data %}
            <div class="match" style="height: {{ match_data.match_height }}px; width: {{ match_data.match_width }}px;">
                <div class="center"
                    style="height: {{ match_data.center_height }}px; margin-top: {{ match_data.center_top_margin }}px; ">
                    {{ match_data.arena }}
                    {% for team_data in match_data.team_data %}
                        <div class="team"
                            style="width: {{ match_data.match_width }}px; background-color:{% if team_data.won %} #fff5a8 {% else %} {{ match_data.arena.color }} {% endif %}; cursor: pointer;"
                            onclick="location.href='{% url 'competitions:judge_match' team_data.match.id %}';">
                            {{ team_data.name }} 
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}    
        </div>
        {% endfor %}
    </div>
        {% if user.is_superuser %}
            <hr>
            <a href="{% url 'competitions:swap_matches' tournament.id %}" class="btn btn-secondary">Swap Matches</a>
            {% comment %} <br><br>
            <a href="{% url "competitions:arena_color" tournament.competition.id %}" class="btn btn-secondary">{% translate "Change Arena Colors" %}</a> {% endcomment %}
        {% endif %}
    {% else %}
        <form class="form-inline my-2 my-md-0 justify-content-end" action="/tournament/{{ tournament.id }}/generate/" method="POST" id="status">
            {% csrf_token %}
            <input type="submit" value={% translate "Generate Matches" %}>
        </form>
    {% endif %}
    {% comment %} <h3>{% translate "Matches" %}</h3> {% endcomment %}
{% endblock %}
