{% extends 'skeleton.html' %}
{% load i18n %}
<style>
    .team {
        margin: 0px {{ bracket_dict.connectorWidth }}px 0px {{ bracket_dict.connectorWidth }}px;
      }
    
    .bracket {
        height:{{ bracket_dict.bracketHeight }}px; 
        width:{{ bracket_dict.bracketWidth }}px;
    }
    
    .round {
        height: {{ bracket_dict.roundHeight }}px; 
        width: {{ bracket_dict.roundWidth }}px;
    }
</style>
{% block content %}
    <h1>{% if tournament.is_judgable %} 
            <i class="bi-activity" title="{{ competition.status }}"></i> {{ tournament.competition.name }} {% translate "Preliminary Tournament" %}: {{ tournament.event.name }}
        {% elif tournament.is_complete %} 
            <i class="bi-check2-circle" title="{{ competition.status }}"></i> {{ tournament.competition.name }} {% translate "Preliminary Tournament" %}: {{ tournament.event.name }}
        {% elif tournament.is_closed %} 
            <i class="bi-x-circle" title="{{ competition.status }}"></i> {{ tournament.competition.name }} {% translate "Preliminary Tournament" %}: {{ tournament.event.name }}
        {% elif tournament.is_in_setup %}
            <i class="bi bi-device-ssd" title="{{ competition.status }}"></i> {{ tournament.competition.name }} {% translate "Preliminary Tournament" %}: {{ tournament.event.name }}
        {% elif competition.is_archived %}
            <i class="bi-archive" title="{{ competition.status }}"></i> {{ tournament.competition.name }} {% translate "Preliminary Tournament" %}: {{ tournament.event.name }} <small>{% translate "You can see this archived item because you are signed in as a superuser." %}</small>
        {% endif %}
        {% if user.is_staff %}
            <form class="form-inline my-2 my-md-0 justify-content-end d-inline ps-2" action="/tournament/{{ tournament.id }}/?next=tournament&id={{ tournament.id }}" method="POST" id="status">
                {% csrf_token %}
                <div class="input-group d-inline">
                    <select name="status" onchange="this.form.submit();">
                        {% for value, translated_value in form.status.field.choices %}
                            <option value="{{ value }}" {% if tournament.status == value %}selected{% endif %}>{{ translated_value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        {% endif %} 
    </h1>
    <hr>
    {% if tournament.match_set.all %}
        <div class="bracket">
            {% for round_data in bracket_dict.round_data %}
            <div class="round">
                {% translate "Round" %} {{ forloop.counter }}
                {% for match_data in round_data.match_data %}
                <div class="match" style="height: {{ match_data.match_height }}px; width: {{ match_data.match_width }}px;">
                    <div class="center"
                        style="height: {{ match_data.center_height }}px; margin-top: {{ match_data.center_top_margin }}px; ">
                        {{ match_data.arena }} {% if user.is_staff %} <small><small id="match_id">(ID: {{ match_data.id }})</small></small> {% endif %}
                        {% for team_data in match_data.team_data %}
                            <div class="team"
                                style="width: {{ match_data.match_width }}px; background-color:{% if team_data.won %} #fff5a8 {% else %} {{ match_data.arena.color }} {% endif %}; cursor: pointer;"
                                onclick="location.href='{% url 'competitions:judge_match' team_data.match.id %}';">
                                {{ team_data.name }} 
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
                {% endfor %}    
            </div>
            {% endfor %}
        </div>
        <div class="row d-flex justify-content-center">
            <span><b>{% translate "Team Rankings" %}</b> ({% translate "Points Per Win: "%} {{ tournament.points_per_win|floatformat }}, {% translate "Points Per Tie: "%} {{ tournament.points_per_tie|floatformat }}, {% translate "Points Per Loss: "%} {{ tournament.points_per_loss|floatformat }})</span>
            {% for team, points in team_wins.items %}
                <li class="nav-item">
                    {% if team in winning_teams %}
                        <b><font color="#ff0000">{{ team.name }}</font></b>:
                    {% else %}
                        <b>{{ team.name }}</b>:
                    {% endif %}
                    {{ points|floatformat:"0" }} {% if points == 1 %} {% translate "point" %} {% else %} {% translate "points" %} {% endif %}
                </li>
            {% endfor %}
        </div>
        <hr>
        {% if user.is_superuser and tournament.is_in_setup %}
            <a href="{% url 'competitions:swap_matches' tournament.id %}" class="btn btn-secondary">{% translate "Swap Match Teams" %}</a>
            <a href="{% url 'competitions:edit_tournament' tournament.id %}" class="btn btn-secondary">{% translate "Edit Tournament" %}</a>
            {% comment %} <br><r>
            <a href="{% url "competitions:arena_color" tournament.competition.id %}" class="btn btn-secondary">{% translate "Change Arena Colors" %}</a> {% endcomment %}
        {% endif %}
        <a href="{% url 'competitions:competition' tournament.competition.id %}" class="btn btn-secondary">{% translate "Go Back To Competition" %}</a>
    {% else %}
        <form class="form-inline my-2 my-md-0 justify-content-end" action="/tournament/{{ tournament.id }}/generate/" method="POST" id="status">
            {% csrf_token %}
            <input type="submit" value={% translate "Generate Matches" %}>
        </form>
    {% endif %}
    {% comment %} <h3>{% translate "Matches" %}</h3> {% endcomment %}
{% endblock %}
