{% extends 'skeleton.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
<style>
    .bracket {
        width:{{bracket_dict.bracketWidth}}px;
    }
    
    .round {
        height: {{ bracket_dict.roundHeight|add:30 }}px; 
        width: {{ bracket_dict.roundWidth }}px;
    }
    
    .round-header {
        height: {{bracket_dict.team_height}}px;
        width: {{ bracket_dict.match_width }}px;
    }
    
    .match {
        width: {{ bracket_dict.match_width }}px;
    }
    
    .team {
        height: {{bracket_dict.team_height}}px; 
        width: {{ bracket_dict.match_width }}px;
    }
    
    @media only screen and (max-width: 480px) and (orientation: portrait) {
        .bracket {
            width:{{bracket_dict.roundWidth}}px;
        }
    }
</style>
{% block content %}
    <h1>{% if tournament.is_judgable %} 
            <i class="bi-activity" title="{{ competition.status }}"></i> {{ tournament.competition.name }} {% translate "Preliminary Tournament" %}: {{ tournament.event.name }}
        {% elif tournament.is_complete %} 
            <i class="bi-check2-circle" title="{{ competition.status }}"></i> {{ tournament.competition.name }} {% translate "Preliminary Tournament" %}: {{ tournament.event.name }}
        {% elif tournament.is_closed %} 
            <i class="bi-x-circle" title="{{ competition.status }}"></i> {{ tournament.competition.name }} {% translate "Preliminary Tournament" %}: {{ tournament.event.name }}
        {% elif tournament.is_in_setup %}
            <i class="bi bi-device-ssd" title="{{ competition.status }}"></i> {{ tournament.competition.name }} {% translate "Preliminary Tournament" %}: {{ tournament.event.name }}
        {% elif competition.is_archived %}
            <i class="bi-archive" title="{{ competition.status }}"></i> {{ tournament.competition.name }} {% translate "Preliminary Tournament" %}: {{ tournament.event.name }} <small>{% translate "You can see this archived item because you are signed in as a superuser." %}</small>
        {% endif %}
        {% if user.is_staff %}
            <form class="form-inline my-2 my-md-0 justify-content-end d-inline ps-2" action="/tournament/{{ tournament.id }}/?next=tournament&id={{ tournament.id }}" method="POST" id="status">
                {% csrf_token %}
                <div class="input-group d-inline">
                    <select name="status" onchange="this.form.submit();">
                        {% for value, translated_value in form.status.field.choices %}
                            <option value="{{ value }}" {% if tournament.status == value %}selected{% endif %}>{{ translated_value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        {% endif %} 
    </h1>
    <hr>
    {% if tournament.match_set.all %}
    <div class="center-content-container">
        <div class="bracket row justify-content-center" style="padding-right: 2%; padding-top: 30px; padding-bottom: 30px; margin-right: 1%;">
            {% for round_data in bracket_dict.round_data %}
            <div class="round {% if bracket_dict.num_rounds == 1 or bracket_dict.num_rounds == 0 %} col-12
            {% elif bracket_dict.num_rounds == 2 %} col-6
            {% elif bracket_dict.num_rounds == 3 %} col-6 col-md-4
            {% elif bracket_dict.num_rounds == 4 or bracket_dict.num_rounds == 5 %} col-6 col-md-4 col-lg-3 
            {% else %} col-6 col-md-4 col-lg-3 col-xxl-2 {% endif %}
            justify-content-center">
                <div class="round-header" style="height: {{bracket_dict.team_height}}px;
                width: {{ bracket_dict.match_width }}px;">
                    <p>{% translate "Round" %} {{ forloop.counter }}</p>
                </div>
                {% if LANGUAGE_CODE != "en" %}<br>{% endif %}
                {% for match_data in round_data.match_data %}
                <div class="match" style="height: {{ match_data.match_height }}px; width: {{ match_data.match_width }}px;" id="{{ match_data.id }}">
                    <div class="center"
                        style="height: {{ match_data.center_height }}px; margin-top: {{ match_data.center_top_margin }}px; ">
                        {% if match_data.team_data != None %}
                            {{ match_data.arena }} {% if user.is_staff %} <small><small id="match_id">(ID: {{ match_data.id }})</small></small> {% endif %}
                            {% for team_data in match_data.team_data %}
                                <div class=" team highlight-{{ team_data.match_id }}-{{ team_data.team_id }} {%if team_data.won %}won{%endif%}"
                                    style="height: {{ bracket_dict.team_height }}px; width: {{ bracket_dict.match_width }}px; cursor: pointer;
                                    background-color:{% if team_data.won %} #fff5a8 {% else %} {{ match_data.arena.color }} {% endif %}; 
                                    {% if forloop.first %} border-top-right-radius: 8px; border-top-left-radius: 8px; {% endif %}
                                    {% if forloop.last %} border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; {% endif %}"
                                    onclick="location.href='{% url 'competitions:judge_match' team_data.match_id %}';"
                                    onmouseover="highlight({{team_data.team_id}}, {{ team_data.match_id }})" onmouseout="dehighlight({{ team_data.team_id }}, {{ team_data.match_id }}, '{{ match_data.arena.color }}')">
                                    <p style="color: {% if match_data.arena.is_dark and not team_data.won %} white; {% endif %}"><b>{{ team_data.name }}</b>{% if team_data.points %}: <small><small><small>{{ team_data.points }}</small></small></small>{% endif %}</p>
                                    {% comment %} {% if team_data.points %} {{ team_data.points }} {% endif %} {% endcomment %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div> 
                </div>
                {% if LANGUAGE_CODE == "es" %}
                    {% if forloop.last %}
                        <br><br><br>
                    {% else %}
                        <br><br><br><br>
                    {% endif %}
                {% endif %}
                {% endfor %}  
                {{ round_data.time }}
                {% if not forloop.last %} <br><br><br> {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="center-content-container">
    <label class="round-select" style="margin-left: 10px; margin-right: 5px; float: left;" for="rounds">Shown round: </label>
    
    <select class="round-select" id="rounds" onchange="changeShownRound(this)">
        {% for round_data in bracket_dict.round_data %}
            <option value="{{forloop.counter}}">{{round_data.label}}</option>
        {% endfor %}
    </select>
    </div>
        <div class="row d-flex justify-content-center">
            <span><b>{% translate "Team Rankings" %}</b> ({% translate "Points Per Win: "%} {{ tournament.points_per_win|floatformat }}, {% translate "Points Per Tie: "%} {{ tournament.points_per_tie|floatformat }}, {% translate "Points Per Loss: "%} {{ tournament.points_per_loss|floatformat }})</span>
            {% for team, points in team_wins.items %}
                <li>
                    {% if team in winning_teams %}
                        <b><font color="#ff0000">{{ team.name }}</font></b>:
                    {% else %}
                        <b>{{ team.name }}</b>:
                    {% endif %}
                    {{ points|floatformat:"0" }} {% if points == 1 %} {% translate "point" %} {% else %} {% translate "points" %} {% endif %}
                </li>
            {% endfor %}
        </div>
        <hr>
        {% if user.is_superuser and tournament.is_in_setup %}
            <a href="{% url 'competitions:swap_matches' tournament.id %}" class="btn btn-secondary">{% translate "Swap Match Teams" %}</a>
            <a href="{% url 'competitions:edit_tournament' tournament.id %}" class="btn btn-secondary">{% translate "Edit Tournament" %}</a>
            {% comment %} <br><r>
            <a href="{% url "competitions:arena_color" tournament.competition.id %}" class="btn btn-secondary">{% translate "Change Arena Colors" %}</a> {% endcomment %}
        {% endif %}
        <a href="{% url 'competitions:competition' tournament.competition.id %}" class="btn btn-secondary">{% translate "Go Back To Competition" %}</a>
    {% else %}
        <form class="form-inline my-2 my-md-0 justify-content-end" action="/tournament/{{ tournament.id }}/generate/" method="POST" id="status">
            {% csrf_token %}
            <input type="submit" value={% translate "Generate Matches" %}>
        </form>
    {% endif %}
    <script>
        function highlight(num, num2) {
            document.querySelectorAll(".highlight-"+num2+"-"+num).forEach((element)=>{
                element.style.borderColor = "#2ec4b6";
                if (element.className.includes("won")) {
                    if (element.className.includes("team")) {
                        element.style.backgroundColor = "lightgreen";
                    }
                } else {
                    if (element.className.includes("team")) {
                        element.style.borderColor = "#c9184a";
                        element.style.backgroundColor= "#ff4d6d"
                    }
                    
                }
            })
        }
        function dehighlight(num, num2, color) {
            document.querySelectorAll(".highlight-"+num2+"-"+num).forEach((element)=>{
                element.style.borderColor = "black";
                if (element.className.includes("won")) {
                    if (element.className.includes("team")) {
                        element.style.backgroundColor = "#fff5a8";
                    }
                } else {
                    if (element.className.includes("team")) {
                        element.style.backgroundColor = color;
                    }
                }
            })
        }
    </script>
{% endblock %}
