{% extends 'skeleton.html' %}
{% load i18n %}
{% block content %}
    <h1>
        {% if tournament.is_judgable %}
            <i class="bi-activity"></i>
        {% elif tournament.is_complete %}
            <i class="bi-check2-circle"></i>
        {% elif tournament.is_closed %}
            <i class="bi-x-circle"></i>
        {% elif tournament.is_in_setup %}
            <i class="bi-gear"></i>
        {% endif %}
        {{ tournament.event.name }} {% trans "from" %} {{ tournament.competition.name }}
    </h1>
    <hr>
    {% if tournament.teams.all %}
        <h3>{% trans "Teams" %}</h3>
        {% for team in tournament.teams.all %}
            <div class="row d-flex">
                <div class = "col-12">
                    <p><a href="{% url 'competitions:team' team.id %}">{{ team }}</a></p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <h3>Matches</h3>
    <div class="bracket" style="height: {{ bracket_dict.bracketHeight }}px; width: {{ bracket_dict.bracketWidth }}px;">
        {% for round_data in bracket_dict.round_data %}
        <div class="round" style="height: {{ bracket_dict.roundHeight }}px; width: {{ bracket_dict.roundWidth }}px;">
            {% for match_data in round_data.match_data %}
            <div class="match" style="height: {{ match_data.match_height }}px; width: {{ match_data.match_width }}px;">
                <div class="center"
                    style="height: {{ match_data.center_height }}px; padding-top: {{ match_data.top_padding }}px">
                    {% for team_data in match_data.team_data %}
                    <div class="team" style="width: {{ match_data.match_width }}px;">
                        {{ team_data.team_name }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
