{% extends 'skeleton.html' %}
{% load i18n %}
{% block content %}
    <h1>{{ tournament.event.name }} {% trans "from" %} {{ tournament.competition.name }}
        {% if tournament.is_judgable %}
            <i class="bi-activity"></i>
        {% elif tournament.is_complete %}
            <i class="bi-check2-circle"></i>
        {% elif tournament.is_closed %}
            <i class="bi-x-circle"></i>
        {% elif tournament.is_in_setup %}
            <i class="bi-gear"></i>
        {% endif %}
    </h1>
    <hr style="margin-left: -10px;">
    {% if tournament.teams.all %}
        <h3>{% trans "Teams" %}</h3>
        {% for team in tournament.teams.all %}
            <div class="row d-flex">
                <div class = "col-12">
                    <p><a href="{% url 'competitions:team' team.id %}">{{ team }}</a></p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
