<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Page</title>
</head>
<body>
    <header>
        <h1>The Official Team Page</h1>
        <h2>{{team.__str__}}</h2>
        
        <!-- this adds the team name and organization name -->
        <p>The "{{team.name}}" is coached by {{team.coach}}</p>
        <!-- needs to pull the coach's name and possibly link their profile -->
        <!-- <p>Team logo would go here.</p> -->
    </header>
    <div class="organization-information">
        <h3>Information About {{team.organization.name}}</h3>
        <h4>Address:<i>....</i></h4>
        <p>logo</p>
        <h4>Other Teams Under This Organization:</h4>
        <ul>
            {% for team in Team.objects.all().filter(organization_id = team.organization.id)%}
            <li>
                <a href="{% url 'competitions:team-page' team.id%}">{{team.__str__}}</a>
            </li>
            {% endfor %}
        </ul>
        <p>This organization is located at .....</p>
        <h4></h4>
    </div>
    <div class="competition-set">
        <h3>Competition Set</h3>
    </div>
    <div class="tournament-set">
        <h3>Tournament Set</h3>
    </div>
    <div class="round-one-matches">
        <h3>Round 1 Matches</h3>
    </div>
    <div class="match-records">
        <h3>Match Records: Wins, Losses, and Draws</h3>
    </div>
    <!-- I will add other relevant information for the teams based on the other models -->
    <!-- show organization information adn match schedule -->
</body>
</html>