{% extends 'skeleton.html' %}
{% load i18n %}
{% block title %}{% translate "Team:" %} {{ team.name }}{% endblock %} 
{% block content %}
    <header>
        <h1>{% translate "Team:" %} {{ team }}</h1>
        {% if team.coach %}
            <p>{% translate "Coached by" %} 
            {% if team.coach.last_name and team.coach.first_name %}
                {{ team.coach.first_name }} {{ team.coach.last_name }}
            {% elif team.coach.last_name %}
                {{ team.coach.last_name }}
            {% elif team.coach.first_name %}
                {{ team.coach.first_name }}
            {% else %}
                {{ team.coach.username }}
            {% endif %}
            </p>
        {% endif %}
    </header>
    <!-- Pointless right now. Put it back in if it makes sense later...
    <div class="organization-information">
        <h3>{% translate "Information About" %} {{team.organization.name}}</h3>
        <h4>{% translate "Address" %}:<i>....</i></h4>
    </div>
    -->
    {% if upcoming_matches.exists %}
        <div class="match-schedule">
            <h3>{% translate "Upcoming Matches" %}</h3>
            <ul>
                {% for match in upcoming_matches %}
                    <li>{{ match.time }} {% translate "between" %} {{ match }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if past_competitions.exists %}
        <div class="row d-flex past-competitions-set">
            <h3>{% translate "Past Competitions" %}</h3>
            {% for competition in past_competitions %}
                <div class="row d-flex">
                    <div class="col-12 competition">
                        {% if competition.is_judgable %} 
                            <i class="bi-activity" title={% translate "OPEN" %}></i> {{ competition }}
                        {% elif competition.is_complete %} 
                            <i class="bi-check2-circle" title={% translate "COMPLETE" %}></i> {{ competition }}
                        {% elif competition.is_closed %} 
                            <i class="bi-x-circle" title={% translate "CLOSED" %}></i> {{ competition }}
                        {% elif competition.is_in_setup %}
                            <i class="bi-gear" title={% translate "SETUP" %}></i> {{ competition }}
                        {% elif competition.is_archived %}
                            <i class="bi-archive" title={% translate "ARCHIVED" %}></i> {{ competition }} <small>You can see this archived item because you are signed in as a superuser.</small>
                        {% endif %}
                        {% if user.is_staff %}
                            <form class="form-inline my-2 my-md-0 justify-content-end d-inline ps-2" action="/competition/{{ competition.id }}/?next=competitions" method="POST" id="status">
                                {% csrf_token %}
                                <div class="input-group d-inline">
                                    <select name="status" onchange="this.form.submit();">
                                        {% for value, translated_value in form.status.field.choices %}
                                            <option value="{{ value }}" {% if competition.status == value %}selected{% endif %}>{{ translated_value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if won_tournaments.exists %}
        <div class="tournament-set">
            <h3>{% translate "Tournaments Won" %}</h3>
            {% for tournament in won_tournaments %}
                <div class="row d-flex">
                    <div class = "col-12 tournament">
                        {% if tournament.get_type == "RoundRobinTournament" %}
                            {% if tournament.is_judgable %} 
                                <i class="bi-activity" title={% translate "OPEN" %}></i> <a href="{% url 'competitions:round_robin_tournament' tournament.id %}">{{ tournament }}</a>
                            {% elif tournament.is_complete %} 
                                <i class="bi-check2-circle" title={% translate "COMPLETE" %}></i> <a href="{% url 'competitions:round_robin_tournament' tournament.id %}">{{ tournament }}</a>
                            {% elif tournament.is_closed %} 
                                <i class="bi-x-circle" title={% translate "CLOSED" %}></i> <a href="{% url 'competitions:round_robin_tournament' tournament.id %}">{{ tournament }}</a>
                            {% elif tournament.is_in_setup %}
                                <i class="bi-gear" title={% translate "SETUP" %}></i> {{ tournament }}
                            {% elif competition.is_archived %}
                                <i class="bi-archive" title={% translate "ARCHIVED" %}></i> {{ tournament }} <small>You can see this archived item because you are signed in as a superuser.</small>
                            {% endif %}
                        {% elif tournament.get_type == "SingleEliminationTournament" or tournament.get_type == "AbstractTournament" %}
                            {% if tournament.is_judgable %} 
                                <i class="bi-activity" title={% translate "OPEN" %}></i> <a href="{% url 'competitions:single_elimination_tournament' tournament.id %}">{{ tournament }}</a>
                            {% elif tournament.is_complete %} 
                                <i class="bi-check2-circle" title={% translate "COMPLETE" %}></i> <a href="{% url 'competitions:single_elimination_tournament' tournament.id %}">{{ tournament }}</a>
                            {% elif tournament.is_closed %} 
                                <i class="bi-x-circle" title={% translate "CLOSED" %}></i> <a href="{% url 'competitions:single_elimination_tournament' tournament.id %}">{{ tournament }}</a>
                            {% elif tournament.is_in_setup %}
                                <i class="bi-gear" title={% translate "SETUP" %}></i> {{ tournament }}
                            {% elif competition.is_archived %}
                                <i class="bi-archive" title={% translate "ARCHIVED" %}></i> {{ tournament }} <small>You can see this archived item because you are signed in as a superuser.</small>
                            {% endif %}
                        {% endif %}
                        ({{ tournament.points|floatformat:"0" }} {% translate "points" %}) 
                        {% if user.is_staff %}
                            <form class="form-inline my-2 my-md-0 justify-content-end" action="/tournament/{{ tournament.id }}/?next=competition&id={{ competition.id }}" method="POST" id="status">
                                {% csrf_token %}
                                <div class="input-group d-inline">
                                    <select name="status" onchange="this.form.submit();">
                                        {% for value, translated_value in form.status.field.choices %}
                                            <option value="{{ value }}" {% if tournament.status == value %}selected{% endif %}>{{ translated_value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        {% endif %} 
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if past_matches.exists %}
        <div class="match-records">
            <h3>{% translate "Match History" %}</h3>
            {% if won_matches %}
                <h4>{% translate "Wins" %}</h4>
                <ul>
                    {% for match in won_matches %}  
                        <li>{{ match }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if lost_matches %}
                <h4>{% translate "Losses" %}</h4>
                <ul>
                    {% for match in lost_matches %}
                        <li>{{ match }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if draw_matches %}
                <h4>{% translate "Draws" %}</h4>
                <ul>
                    {% for match in draw_matches %}
                        <li>{{ match }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}