{% extends 'skeleton.html' %}
{% load i18n %}
{% block title %}{% translate "User:" %} {{ user.username }}{% endblock %} 
{% block content %}
    {% comment %} special case for coaches {% endcomment %}
    <header>
        <h1>{% translate "User Profile" %}</h1>  
    </header>
        <div class="row">
            {% if user.first_name %}
                {% if user.last_name %}
                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                {% endif %}
            {% else %}
                <h2>{{ user.username }}</h2>
            {% endif %}
        </div>
        {% if profile.photo.exists %}
            <div class="row">
                {{ profile.photo }}
            </div>
        {% endif %}
        <div class="row">
            <h3>{% translate "User Bio" %}</h3>
             <p>{{ profile.bio|default_if_none:"This user doesn't have a bio." }}</p>
        </div>
        <div class="row">
            Teams
        </div>
        <div class="row">
            Origanization
        </div>
        <div class="row">
            Trophies and Badges
        </div>
{% endblock %}