.bracket {
    display: flex;
    margin: 10px;
    /*border: 1px red solid;*/
}

.round {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.match {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center {
    margin: 0;
    position: absolute;
    flex: 1;
}

.team {
    width: 100%;
    text-align: left;
    background-color: lightgray;
    border: 1px black solid;
    margin: 0px 25px 0px 25px;
    float: none;
    position: relative;
}

.connector-back {
    border-top: 2px black solid;
    position: absolute;
    height: 0px;
    width: 25px;
    left: 0px;
    top: 12.5px
}

.connector-front {
    border-top: 2px black solid;
    border-right: 2px black solid;
    position: absolute;
    height: 50px;
    width: 28px;
    right: -28px;
    top: 12.5px
}