{% extends "skeleton.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "403 Forbidden" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% translate "403 Forbidden" %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>{% translate "You are not allowed to access this page" %}</h2>
                <p>{% translate "Sorry, you are not allowed to access this page. Please contact the administrator if you think this is a mistake." %}</p>
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}