{% extends "skeleton.html" %}
{% load static %}

{% block title %}410 Gone{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>410 Gone</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>The page you are looking for does not exist anymore.</p>
                <p>Click <a href="{% url 'home' %}">here</a> to go back to the home page.</p>
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}