{% extends "skeleton.html" %}
{% load static %}

{% block title %}451 Unavailable for Legal Reasons{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>451 Unavailable for Legal Reasons</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Sorry, this page is unavailable due to legal reasons.</p>
                <p>For more information, please contact the site administrator.</p>
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}