{% extends "skeleton.html" %}
{% load static %}
{% load i18n %}

{% block title%} {{ error }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ error }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>{{ error_description }}</p>
                <p>{% translate "For more information, please contact the site administrator." %}</p>
                <p>{% translate "Click" %} <a href="{% url 'competitions:home' %}">{% translate "here" %}</a> {% translate "to go back to the home page." %}</p>
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
            </div>
            {% if debug %}
                <div class='img'>
                    <img class='error' src="https://http.cat/images/{{ error_code }}.jpg" style="max-width: 500px; max-height: 500px" >
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}