{% comment %} You can copy paste this whenever making a new page so you don't need to copy paste other stuff from other pages. {% endcomment %}

{% extends 'skeleton.html' %}
{% load static %}
{% load i18n %}

{% comment %}
{% block title %}Title{% endblock%}
{% endcomment %}

{% comment %} 
This block is at the bottom of the head in the skeleton, so you can insert any custom stylesheets, favicon, etc and it will override the default 
{% block head %}

{% endblock%}
{% endcomment %}

{% block content %}
{% endblock %}