{% load static %}
{% load hijack %}
{% load i18n %}
{% load tz %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    {% if debug %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.css" rel="stylesheet" integrity="sha384-8dbpXuP2nso7zrhApj0aSxeb0ZitbTeO0hTKxRcXavYE0vv4nhBEqvv+o+0X94A8" crossorigin="anonymous">
    {% else %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% endif %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel='icon' href="{% static 'favicon.png' %}">
    {% block head %}{% endblock %}
    {% comment %} ^ a block for inserting custom stylesheets/other stuff into the head if nessesary {% endcomment %}
    <title>
        {% block title %}Robocomp{% endblock %}
    </title>
</head>

<body>
    {% comment %} We need this so HTMX will work (when its implemented) with the debug toolbar {% endcomment %}
    {% comment %} https://django-debug-toolbar.readthedocs.io/en/latest/installation.html#htmx {% endcomment %}
    {% comment %}
    {% if debug %}
    if (typeof window.htmx !== "undefined") {
    htmx.on("htmx:afterSettle", function(detail) {
    if (
    typeof window.djdt !== "undefined"
    && detail.target instanceof HTMLBodyElement
    ) {
    djdt.show_toolbar();
    }
    });
    }
    {% endif %}
    {% endcomment %}

    {% comment %} make sure to install django hijack before using this {% endcomment %}
    {% if request.user|can_hijack:another_user %}
        <form action="{% url 'hijack:acquire' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user_pk" value="{{ another_user.pk }}">
            <button type="submit">hijack {{ another_user }}</button>
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    {% endif %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex" id="Navbar">
        <b class="navbar-brand p-0 ps-2" href="{% url 'competitions:home' %}"><img src="{% static 'logo.png' %}" style="height: 40px;"></b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarcontent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'competitions:competitions' %}">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'competitions:credits' %}">{% trans "Credits" %}</a>
                </li>
                {% comment %} only implemented for home page {% endcomment %}
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
                    </li>
                {% endif %}
                {% block links %}
                {% endblock %}
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="lang">
            {% get_available_languages as LANGUAGES %} 
            <form class="form-inline my-2 my-md-0" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <select name="language" onchange="this.form.submit();">
                    {% for language in LANGUAGES %}
                        {% get_language_info for language.0 as lang_ %}
                        <option value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %}selected{% endif %}>{{ lang_.name_local.title }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> {% endcomment %}
            {% comment %} <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search">
            </form> {% endcomment %}
    </nav>       

    {% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a class="close" href="" data-dismiss="alert"></a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endblock %}

    {% block content %}
    Template Content TBD
    {% endblock %}
    
    {% comment %} 
        This adds a JS cookie that keeps track of the user's timezome
        so the user doesn't manually have to set it
        not needed when using the lib
    {% endcomment %}
    <script>
        let tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        if (!tz) {
            tz = "UTC"
        }
        document.cookie = "mytz=" + tz + ";path=/";
    </script>

    {% if debug %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.js"
            integrity="sha384-6yr0NH5/NO/eJn8MXILS94sAfqCcf2wpWTTxRwskNor6dIjwbYjw1/PZpr654rQ5"
            crossorigin="anonymous"></script>
    {% else %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    {% endif %}
    {% comment %} {% tz_detect %} {% endcomment %}
</body>

</html>